body{
    /* background-color: aquamarine; */
    background-image: url(https://i.ytimg.com/vi/NMFbQ8MTZYA/maxresdefault.jpg);
    background-repeat: no-repeat;
    background-size: 1900px;
    background-size: cover;
    
}